In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Tomatoes.csv')
df = pd.DataFrame(data)
df.head()

   year period periodName  value  footnotes       seriesID
0  2014    M12   December  2.189        NaN  APU0000712311
1  2014    M11   November  1.948        NaN  APU0000712311
2  2014    M10    October  1.695        NaN  APU0000712311
3  2014    M09  September  1.546        NaN  APU0000712311
4  2014    M08     August  1.544        NaN  APU0000712311

In [3]:
df=df.drop(columns="footnotes")

In [4]:
df= df.drop(columns="period")

In [5]:
pd.get_dummies(df).head()

,year,value,periodName_April,periodName_August,periodName_December,periodName_February,periodName_January,periodName_July,periodName_June,periodName_March,periodName_May,periodName_November,periodName_October,periodName_September,seriesID_APU0000712311
0,2014,2.189,0,0,1,0,0,0,0,0,0,0,0,0,1
1,2014,1.948,0,0,0,0,0,0,0,0,0,1,0,0,1
2,2014,1.695,0,0,0,0,0,0,0,0,0,0,1,0,1
3,2014,1.546,0,0,0,0,0,0,0,0,0,0,0,1,1
4,2014,1.544,0,1,0,0,0,0,0,0,0,0,0,0,1

In [17]:
df['periodName_December'].astype(float)

KeyError: "None of [Index(['periodName_December'], dtype='object')] are in the [columns]"

In [6]:
y = df["value"]
X = df.drop(columns="value")

In [7]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)   
X_train.shape

(34, 3)

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [10]:
df.dtypes

year            int64
periodName     object
value         float64
seriesID       object
dtype: object

KeyError: 'period'

In [9]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'March'